---
import PreLoader from "../components/PreLoader.astro"
import Shell from "../components/Shell.astro"
import ProjectPage from "../components/ProjectPage.astro"
import "../styles/styles.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="180x180" href="/portfolio/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/portfolio/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/portfolio/favicon-16x16.png">
    <link rel="manifest" href="/portfolio/site.webmanifest">

    <meta name="title" content="Lucas portfolio">
    <meta name="description" content="Portfolio for https://github.com/lucasile">
    <meta name="keywords" content="portfolio, developer, lucas, lucasile">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">


		<title>Lucas</title>
	</head>

  <body>

    <div class="background-front front-page flex justify-center items-center fixed top-0 w-full h-full">
      
      <div id="squiggle" class="front-page hidden custom-shape-divider-top-1673926392">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
          <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
          <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
      </div>
       
      <PreLoader />

    	<div id="front-content" class="text-center w-1/2 h-[33%] md:h-[25%] lg:h-1/5 grid grid-cols-1 grid-rows-3 place-items-center content-center">
        
        <h1 class="text-2xl md:text-5xl text-white">Hi. I'm Lucas</h1>

        <Shell /> 
 
        <button id="project-button" class="shadow-2xl font-semibold" onclick="">My Projects</button>

	    </div>

      <div id="projects-content" class="text-center">
        
        <ProjectPage />

        <button id="back-button" class="shadow-2xl font-semibold" onclick="">Back</button>

      </div>

       <div id="squiggle" class="front-page hidden custom-shape-divider-bottom-1673926319">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
          <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
          <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
      </div>

    </div>

  </body>

  <script>

    const background = document.querySelector(".background-front")!;
    const squiggles = document.querySelectorAll("#squiggle");
    const frontContent = document.querySelector("#front-content")!;
    const projectsContent = document.querySelector("#projects-content")!;
 
    setTimeout(() => {

      for (let i = 0; i < squiggles.length; i++) {
        squiggles[i].classList.remove("hidden");
      }

    }, 2200);

    const projectButton = document.getElementById("project-button");

    if (projectButton != null) {

      projectButton.addEventListener('click', () => {

        for (let i = 0; i < squiggles.length; i++) {
          squiggles[i].classList.add("projects-page");
        }      

        background.classList.add("background-projects");
        
        frontContent.classList.add("hide");

        if (frontContent.classList.contains("show"))
          frontContent.classList.remove("show");

        projectsContent.classList.add("show");

        if (projectsContent.classList.contains("hide"))
          projectsContent.classList.remove("hide");

      });

    }

    const backButton = document.getElementById("back-button");

    if (backButton != null) {

      backButton.addEventListener('click', () => {
  
        for (let i = 0; i < squiggles.length; i++) {
          squiggles[i].classList.remove("projects-page");
        }

        background.classList.remove("background-projects");
        
        frontContent.classList.remove("hide");
        frontContent.classList.add("show");

        projectsContent.classList.add("hide");
        projectsContent.classList.remove("show");


      });

    }

  </script>

</html>


