  
<div id="transition-pane" class="shadow-2xl flex justify-center items-center fixed bg-emerald-600">
 
  <div class="typewriter text-white">
    <h1 class="typewriter-text-preloader text-xl md:text-4xl">lucas@dev:~$ cd portfolio</h1>
  </div>

</div>

<script is:inline>

  setTimeout(() => {

    document.getElementById("transition-pane").classList.add("start-transition");

  }, 1800);

</script>

