
<div class="box-border p-2 border-2 border-white bg-emerald-900 w-full shadow-2xl">
  <span class="text-white font-semibold blinking">lucas@dev:~$ python, java, c, c#, ts, reactjs, unity</span>
</div>

